body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #464343;
}

h1 {
    color: #ff0000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 10px;
    text-align: center;
}

.hero-card img {
    width: 400px;
    height: 400px;
    border: 1px solid #e7a5a5;
    box-shadow: 0 0 5px rgba(59, 56, 56, 0.3);
}

.hero-card .hero-details {
    margin-top: 15px;
}

.hero-card h2 {
    margin: 5px;
    font-size: 18px;
    color: #000;
}

.hero-card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.hero-card ul li {
    margin-bottom: 5px;
}
